body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(110, 106, 168);
  background: radial-gradient(
    circle,
    rgba(110, 106, 168, 1) 0%,
    rgba(2, 75, 89, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 1rem;
  color: #eee;
}

footer.the-footer {
  width: 100%;
  padding: 5px;
  text-align: end;
  position: fixed;
  bottom: 0;
  color: #ff062f;
}

.movie {
  background-color: #a17171;
  width: 80%;
  display: flex;
}
.movieDetailsContainer {
  display: flex;
  justify-content: center;
}
.movieDetailsBox {
  margin: 2em;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.form-signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

input,
button {
  padding: 1em;
  border-radius: 0.7em;
  margin: 0.5em;
}

.form-group {
  display: flex;
  justify-content: center;
}
.form-control {
  border-radius: 0.4em;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  border-radius: 0 0 3em 3em;
  padding: 1em;
}
.header-panel {
  display: flex;
  justify-content: space-around;
  background-color: grey;
}

.header-panel-loggedoff {
  width: 25%;
}

.header-panel-loggedin {
  width: 55%;
}

a:link {
  text-decoration: none;
}

.form-container {
  flex-direction: column;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
